<%- include ('../layouts/adminHeader') %>
<div class="wrapper">
  <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

    <div class="sidebar-wrapper">
      <div class="logo">
        <img src="/assets/images/icons/logo-01.png" alt="" />
      </div>

      <ul class="nav">
        <li class="active">
          <a href="/admin/">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li>
          <a href="adminUser">
            <i class="ti-view-list-alt"></i>
            <p>Users List</p>
          </a>
        </li>
        <li>
          <a href="adminProduct">
            <i class="ti-view-list-alt"></i>
            <p>admin Product</p>
          </a>
        </li>
        <li>
          <a href="adminOrder">
            <i class="ti-pencil-alt2"></i>
            <p>admin order</p>
          </a>
        </li>
        <li>
          <a href="admin-category">
            <i class="ti-map"></i>
            <p>admin category</p>
          </a>
        </li>
        <li>
          <a href="admin-offer">
            <i class="ti-bell"></i>
            <p>Offer</p>
          </a>
        </li>
        <li>
          <a href="/admin/salesReport">
            <i class="ti-download"></i>
            <p>Product List</p>
          </a>
        </li>
        <li>
          <a href="/admin/adminlogout"
            ><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-panel"></i>
                <p>Stats</p>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-bell"></i>
                <p class="notification">5</p>
                <p>Notifications</p>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="ti-settings"></i>
                <p>Settings</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <canvas id="myChart"></canvas>
                  <input type="hidden" value="<%=pname %>" id="pname" />
                  <input type="hidden" value="<%=pcount%>" id="pcount" />
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                  const ctx = document.getElementById("myChart");
                  const name = document.getElementById("pname");
                  const count = document.getElementById("pcount");
                  const pnames = name.value.split(",");
                  const pcounts = count.value.split(",");

                  new Chart(ctx, {
                    type: "pie",
                    data: {
                      labels: pnames,
                      datasets: [
                        {
                          label: "sales",
                          data: pcounts,
                          borderWidth: 1,
                        },
                      ],
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true,
                        },
                      },
                    },
                  });
                </script>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <canvas id="myAnotherChart"></canvas>
                  <input type="hidden" value="<%=genre %>" id="genre" />
                  <input type="hidden" value="<%=count%>" id="count" />
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                  const cty = document.getElementById("myAnotherChart");
                  const catname = document.getElementById("genre");
                  const catcount = document.getElementById("count");
                  const catnames = catname.value.split(",");
                  const catcounts = catcount.value.split(",");

                  new Chart(cty, {
                    type: "bar",
                    data: {
                      labels: catnames,
                      datasets: [
                        {
                          label: "sales",
                          data: catcounts,
                          borderWidth: 1,
                        },
                      ],
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true,
                        },
                      },
                    },
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="http://www.creative-tim.com"> Creative Tim </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com"> Blog </a>
        </li>
        <li>
          <a href="http://www.creative-tim.com/license"> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      , made with <i class="fa fa-heart heart"></i> by
      <a href="http://www.creative-tim.com">Creative Tim</a>
    </div>
  </div>
</footer>
</div>
</div>

<%- include ('../layouts/adminSidebar') %>
