
	<%- include('../layouts/userLoggedinHeader') %>

<div class="container row">
  <div class="col-6">
    <h1 class="d-inline">Welcome  <%= user.name %> </h1>
  </div>
  <div class="col-6">
    <a href="/logout" class="btn btn-primary ms-2 mt-5 ">Logout</a>
  </div>
</div>
                <!-- START: Tabs  -->
                <div class="nk-tabs container">
                  <div class="nk-gap"></div>
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">User Data</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">Orders</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">Tab 3</a>
                      </li>
                  </ul>
                  <div class="tab-content text-light">
                      <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                          <div class="nk-gap"></div>
                          
                          <section class="container">
                            <table class="table text-light">
                                <thead>
                                  <tr style="color: black;">
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                
                                <tbody>
                                  <tr style="color: black;">
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.mobile %></td>
                                    <td><a href="/edit-user?id=<%= user._id %>" class="btn btn-primary ms-2 ">Edit</a></td>
                                    
                                  </tr>
                                </tbody>
                              </table>
                        </section>

                          <div class="nk-gap"></div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                          <div class="nk-gap"></div>
                          
                          <section class="container">
                            <table class="table text-light">
                                <thead>
                                  <tr style="color: black;">
                                    <th scope="col">OrderId</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>

                                  </tr>
                                </thead>
                                <% for(let key of userOrders){ %>
                                <tbody>
                                  <tr style="color: black;">
                                    <td><%= key._id %></td>
                                    <td><%= key.createdAt %></td>
                                    <td><%= key.payment %></td>
                                    <td><%= key.status %></td>
                                    <td><a href="/cancel-order?id=<%= key._id %>" class="btn btn-primary ms-2 ">Cancel Order</a></td>
                                    <td><a href="/view-order?id=<%= key._id %>" class="btn btn-primary ms-2 ">View Details</a></td>
                                  </tr>
                                </tbody>
                                <% } %>
                              </table>
                        </section>


                          <div class="nk-gap"></div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                          <div class="nk-gap"></div>
                          <p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the, for brevity sake, omitted much moredown.</p>
                          <div class="nk-gap"></div>
                      </div>
                  </div>
              </div>
              <!-- END: Tabs -->
<%- include('../layouts/userFooter') %>